* {
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #ffc7c7;
  --color-bg: #ffe2e2;
  --color-text: #393e46;
  --color-accent: #8785a2;
  --color-white: #fff;
  --color-grey: #6b728e;
}

html.dark {
  --color-bg-dark: #4f4557;
  --color-bg: #6d5d6e;
  --color-text: #f4eee0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: rgb(96, 104, 105);
  background: linear-gradient(
    0deg,
    rgba(96, 104, 105, 1) 0%,
    rgba(176, 174, 169, 1) 100%
  );
  font-size: 1.4rem;
  accent-color: var(--color-accent);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background: transparent;
  border: none;
}

input {
  border: none;
}
